/log/*.log*
/target
/classes
/conf/*.edn
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-failures
/.nrepl-port
*.iml
/lib/
.lein-repl-history
/.idea/
/vim_files/
.lein-repl-history
*.iml
/*.config
